/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.chatparticipants {
	padding: 0.5em;
	float: right;
	height: 33em;
	overflow: auto;
	border-style: solid;
	border: thin solid grey;
	border-radius: .25em;
	background-color: #EEE;
	margin-left: 1em;
}
.chatmessages { 
	padding-left: 1em;
	height: 33em; 
 	overflow: auto;
 	background-color: #EEE;
 	border-radius: .25em;
 	margin-bottom: 1em;	
}
.chatname { font-weight:bold; }